.filters
{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.locations
{
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.amenities
{
    height: 100%;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2
{
	font-size: 16px;
}

h3
{
    font-weight: 600;
    margin: 2px 50px;
}

h4
{
    font-weight: 400;
    font-size: 14px;
    margin: 2px 50px;
}

.popover
{
	background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    display: none;
	list-style-type: none;
	width: 100%;
}

.locations:hover .popover
{
	display: block;
}

.amenities:hover .popover
{
	display: block;
}

.popover ul
{
    padding-top: 30px;
	padding-bottom: 5px;
    padding-left: 0px;
}

.locations li
{
	list-style-type: none;
    margin-right: 30px;

}

button
{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    position: absolute;
    right: 30px;
}

button:hover
{
    opacity: 90%;
}
