.filters
{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

button
{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    box-sizing: border-box;
}

button:hover
{
    opacity: 90%;
}

.locations
{
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.amenities
{
    height: 100%;
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.filters h3
{
    font-weight: 600;
    margin: 2px 50px;
}

.filters h4
{
    font-weight: 400;
    font-size: 14px;
    margin: 2px 50px;
}

.popover
{
	background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    display: none;
	list-style-type: none;
	width: 100%;
    position: absolute;
    top: 100%;
    margin-left:-1px;
    box-sizing:border-box;
}

.locations:hover .popover
{
	display: block;
}

.amenities:hover .popover
{
	display: block;
}

.popover h2
{
	font-size: 16px;
    margin: auto;
}

.locations ul
{
    margin-top: 0px;
    padding: 0.5em 0 1em 1em;
}

.locations li
{
    list-style-type: none;
    margin: 0 0 0 5%;
    padding: 0.2em;
}

.amenities ul
{
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
}

.amenities li
{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}